language: java
git:
  depth: 1
jdk:
  - openjdk8
dist: trusty
cache:
  directories:
    - $HOME/.m2
services:
  - mysql
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
before_install:
  - mysqladmin -u root --password="" create Master
  - mysql -u root --password="" Master < Schema.sql 
deploy:
  provider: bluemixcloudfoundry
  skip_cleanup: true
  username: cc_ouaaz@esi.dz
  password: $BLUEMIX_PASSWORD
  organization: cc_ouaaz@esi.dz
  region: eu-gb
  space: dev

branches:
  only:
  - master
  
  deploy:
  provider: script
  script: bash deploy.sh
  branches:
  only:
  - master
